<template name="footer">
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">                    
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Über Uns</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>Wer wir sind</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Kontakt</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Wohlkopf</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>Start</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>FAQ</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Anmelden</a></li>
                            </ul>
                        </div>
                    </div>            
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                        <div class="footer-col-inner">
                            <h3 class="title">Kontakt</h3>                          
                            <p class="adr clearfix">
                                <i class="fa fa-map-marker pull-left"></i>        
                                <span class="adr-group pull-left">       
                                    <span class="street-address">Teststr. 42, Hamburg</span>
                                </span>
                            </p>
                            <p class="tel"><i class="fa fa-phone"></i>0800 123 4567</p>
                            <p class="email"><i class="fa fa-envelope-o"></i><a href="#">mail@website.com</a></p> 
                        </div>     
                    </div> 
                    <div class="footer-col connect col-md-6 col-sm-12 col-xs-12">
                        <div class="footer-col-inner">
                            <div class="form-container">
                                <p class="intro">Bleibe bei Wohlkopf auf dem Laufenden:</p>
                                <form class="signup-form navbar-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="E-Mail Adresse eintragen">
                                    </div>   
                                    <button type="submit" class="btn btn-cta btn-cta-primary">Jetzt eintragen.</button>                                 
                                </form>                               
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div> 
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">Built at <span class="glyphicon glyphicon-home"></span> in Hamburg 2016. Using Meteor, jQuery, Bootstrap and other awesome open source technologies.</small>                
            </div>
        </div>
    </footer>
</template>