<template name="navigation">
    <header id="header" class="header navbar-fixed-top">  
        <div class="container">       
            <h3 class="logo">
                <a href="{{pathFor route='home'}}"><span class="text">Wohlkopf</span></a>
            </h3>
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!-- TODO Use active dynamically -->
                        <li class="active nav-item">
                            <a href="{{pathFor route='home'}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Emotionen</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Mindfulness <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Meditation</a></li>
                                <li><a href="#">Mehr über Mindfulness</a></li>                  
                            </ul>                            
                        </li>        
                        <li class="nav-item">
                            <a href="#">Frustration</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Selbstwert</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Panikmache</a>
                        </li>
                        {{> loginButtons}}
                    </ul>
                </div>
            </nav>                   
        </div>
    </header>
</template>