<template name="navigation">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img class="menu-avatar" src="wohlkopf-avatar-thumb.jpg" /></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Wall of Love</a>
                </li>
                <li>
                    <a href="#">Emotionen</a>
                </li>
                <li>
                    <a href="#">Frustration</a>
                </li>
                <li>
                    <a href="#">Selbstwert</a>
                </li>
                <li>
                    <a href="#">Panikmache</a>
                </li>
                <li>
                    <a href="#">Mindfulness</a>
                </li>
<!--                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                        <li>
                            <a href="#">Another action</a>
                        </li>
                        <li>
                            <a href="#">Something else here</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">One more separated link</a>
                        </li>
                    </ul>
                </li>-->
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" />
                </div> 
                <button type="submit" class="btn btn-default">
                    Suchen
                </button>
            </form>
        </div>

    </nav>
</template>