<template name="navigation">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Wohlkopf</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Wall of Love</a>
                    </li>
                    <li>
                        <a href="#">Emotionen</a>
                    </li>
                    <li>
                        <a href="#">Frustration</a>
                    </li>
                    <li>
                        <a href="#">Selbstwert</a>
                    </li>
                    <li>
                        <a href="#">Panikmache</a>
                    </li>
                    <li>
                        <a href="#">Mindfulness</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" />
                    </div> 
                    <button type="submit" class="btn btn-default">
                        Suchen
                    </button>
                </form>
            </div>
        </div>
    </nav>
</template>